.wrapper{
  margin: 1rem 0;
}
.huge-text{
  font-size: 16em;
}
.option-text{
  font-size: 8em;
  /*color: #f5e8d9;*/
}

.card{
  background-color: #faf5ef;
  border-radius: 3rem;
  border-color: rgba(231,128,121,0.5);
}

.container{
  color:#e78079;
}
